<script>
  /** @type {String} */
  export let name = "Sebastian";

  /**
   * User last name
   * @type {String}
   */
  export let lastName = "Rodriguez";

  /**
   * Returns greeting
   * @param {string} name
   * @returns {string}
   */
  const greet = (name) => `Hello ${name}`;
</script>

<h1>{greet(name)} {lastName ? lastName : ""} !!!</h1>
