<script lang="ts">
    import { Component } from 'design-system';

    const user = {
        name: 'Roberto',
    }
</script>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
<Component {...user}/>
<Component />